.image1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(74, 14, 214, 0.45),
      rgba(74, 14, 214, 0.45)
    ),
    url("./assets/vancover.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}
.innerbox1 {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  background-image: linear-gradient(
      rgba(74, 14, 214, 0.45),
      rgba(74, 14, 214, 0.45)
    ),
    url("./assets/vancover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.5px solid white;
}
.image2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(57, 214, 10, 0.45),
      rgba(57, 214, 10, 0.45)
    ),
    url("./assets/calgary.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}
.innerbox2 {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  background-image: linear-gradient(
      rgba(57, 214, 10, 0.45),
      rgba(57, 214, 10, 0.45)
    ),
    url("./assets/calgary.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.5px solid white;
}
.image3 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(23, 23, 24, 0.45),
      rgba(23, 23, 24, 0.45)
    ),
    url("./assets/toronto.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}
.innerbox3 {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  background-image: linear-gradient(
      rgba(23, 23, 24, 0.45),
      rgba(23, 23, 24, 0.45)
    ),
    url("./assets/toronto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.5px solid white;
}
#root {
  width: 100%;
  height: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.App {
  width: 100%;
  height: 100%;
}
.firstHalf {
  width: 50%;
  height: 100%;
  display: flex;
  margin-top: 2rem;
  align-items: flex-end;
}
.secondHalf {
  width: 50%;
  height: 100%;
  border-top: 0.5px solid white;
  display: flex;
}
.navBar {
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-end;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
  margin-top: 0.5rem;
  margin-right: 1rem;
}
a {
  color: white;
  text-decoration: none;
  font-size: 0.7rem;
}
p {
  color: white;
  font-size: 0.5rem;
  display: inline;
  margin: 0;
}
.text {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: x-small;
}
.bigNumber {
  color: white;
  font-size: 11rem;
  font-weight: bold;
}
.bottomHalf {
  border-top: 0.5px solid white;
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-top: 1rem;
}
.upperHalf {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70%;
}
.cityName {
  margin-top: 1rem;
}
.myLink {
  margin-top: 1rem;
  color: white;
  font-size: x-small;
}
.bottom {
  display: flex;
  margin-bottom: 2rem;
}
.bottomText {
  font-size: x-small;
}
.size {
  font-size: xx-large;
}
.forSize {
  margin-top: 1rem;
  margin-left: 1rem;
  color: rgb(124, 5, 5);
  width: 2.5rem;
  height: 2.5rem;
}
